p { 
font-family: 'Pacifico', cursive;
text-align: center;
color: azure;
font-size: 100px;  
}
.loginP {
color: coral;
}
.log-form-group {
width: 50%;
}
h2 {
font-family: 'Pacifico', cursive;
text-align: center;
color: azure;
font-size: 100px;
}
h2.title-on-index {
    margin-top: 100px;
}

#cover {
  text-align: center;
  display: flex;
  align-items: center;
}

.column {
    float: right;
    width: 50%;
    padding: 3px;
    text-align: center;
    opacity: .7;
    
  }



