body{ 
font-family: 'Pacifico', cursive;
text-align: center;
color: azure;
font-size: 50px;  
}
.loginP {
color: coral;
}
.log-form-group {
width: 40%;
}
h2 {
font-family: 'Pacifico', cursive;
text-align: center;
color: azure;
font-size: 50px;
}
h2.title-on-index {
    margin-top: 50px;
}

